<h1>{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

<agm-map [zoom]="7" [latitude]="52.200191" [longitude]="5.598922">
    <agm-marker [latitude]="51.443520" [longitude]="5.472968">
        <agm-snazzy-info-window [maxWidth]="300" [closeWhenOthersOpen]="true">
            <ng-template>
                Eindhovuhh!
            </ng-template>
        </agm-snazzy-info-window>
    </agm-marker>
</agm-map>