<div class="row">

    <div class="col s12 m5"><br><br>
        <app-map></app-map>
    </div>

    <div class="col s12 m7">
        <div class="row">
            <div class="col s12 m4">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <h4>5000</h4>
                        <p>Telefoons ingezameld</p>
                    </div>

                </div>
            </div>
            <div class="col s12 m4">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <h4>45000</h4>
                        <p>Gram CO-2 bespaard</p>
                    </div>

                </div>
            </div>
            <div class="col s12 m4">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <h4>205</h4>
                        <p>Spellen gespeeld</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="col s12 m12">
            <div class="card teal">
                <div class="card-content white-text">
                    <span class="card-title center">Actief</span>
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>

            </div>
        </div>

        <div class="col s12 m12">
            <div class="card teal">
                <div class="card-content white-text">
                    <span class="card-title center">Archief</span>
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>

            </div>
        </div>
    </div>

</div>