<div class="row">


  <div class="col s12 m8 l8 teal lighten-5">
    <div class="row" style="padding-top: 20px">
      <div class="col s12 m4">
        <div class="card blue-grey darken-1" style="border-radius: 15px 50px !important">
          <div class="card-content white-text">
            <span class="card-title">Totaal:</span>
            <i class="right material-icons small">smartphone</i>
            <h6>{{allPhones}}</h6>
            <p>Telefoons ingezameld</p>
            <br>
            <i class="right material-icons small">thumb_up</i>
            <h6>45000</h6>
            <p>Gram CO-2 bespaard</p>
            <br>
           <!--  <i class="right material-icons small">games</i>
            <h6>205</h6>
            <p>Spellen gespeeld</p> -->
          </div>

        </div>


      </div>
      <div class="col s12 m8">
        <h6>Actieve races:</h6>
        <ul class="collection">

          <li class="collection-item avatar">
            <i class="material-icons circle blue">star</i>
            <span class="title">Totaal</span>
            <p>First Line
              <br> Second Line
            </p>
            <a href="#!" class="secondary-content">
              <i class="material-icons">grade</i>
            </a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle green">insert_chart</i>
            <span class="title">Race 1</span>
            <p>First Line
              <br> Second Line
            </p>
            <a href="#!" class="secondary-content">
              <i class="material-icons">grade</i>
            </a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle orange">insert_chart</i>
            <span class="title">Race 2</span>
            <p>First Line
              <br> Second Line
            </p>
            <a href="#!" class="secondary-content">
              <i class="material-icons">grade</i>
            </a>
          </li>

        </ul>
      </div>



    </div>

    <div class="col s12 m12">

      <div class="card teal">
        <div class="card-content">
          <span class="card-title center white-text">Kasten</span>



          <div class="row">

            <nav class="teal lighten-2">
              <div class="nav-wrapper">
                <form>
                  <div class="input-field">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search">
                      <i class="material-icons">search</i>
                    </label>
                    <i class="material-icons">close</i>
                  </div>
                </form>
              </div>
            </nav>









            <ngx-datatable #table class='material striped' [scrollbarH]="true" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
              [rowHeight]="'auto'" [limit]="10" [rows]='rows' (sort)="onSort($event)">



              <ngx-datatable-column name="Titel" [sortable]="true">

                <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
                  <span (click)="sort()" style="cursor:pointer">
                    {{column.name}}
                  </span>
                </ng-template>

                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <div [innerHTML]="row['name']"></div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Aantal" [sortable]="true">

                <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
                  <span (click)="sort()" style="cursor:pointer">
                    {{column.name}}
                  </span>
                </ng-template>

                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{row.phonetot}}
                </ng-template>

              </ngx-datatable-column>



              <ngx-datatable-column name="Locatie">

                <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
                  <span (click)="sort()" style="cursor:pointer">
                    {{column.name}}
                  </span>
                </ng-template>

                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  {{row.location}}
                </ng-template>

              </ngx-datatable-column>


              <!-- <ngx-datatable-column name="Verwijder">

                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <a (click)="deleteEPSS(row.Code, row.Published)" class="btn-floating waves-effect waves-light red">
                    <i class="material-icons">delete</i>
                  </a>


                </ng-template>

              </ngx-datatable-column> -->


            </ngx-datatable>











          </div>


        </div>

      </div>
    </div>



    <div class="col s12 m12">

      <div class="card  teal accent-4">
        <div class="card-content">
          <span class="card-title center white-text">Archief</span>

          <div class="row">

            <nav class=" teal accent-1 lighten-2">
              <div class="nav-wrapper">
                <form>
                  <div class="input-field">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search">
                      <i class="material-icons">search</i>
                    </label>
                    <i class="material-icons">close</i>
                  </div>
                </form>
              </div>
            </nav>


            <div class="col s6 m4 l3" *ngFor="let arcade of notActiveArcades">
              <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="assets/kast_inactief.png">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Inactief 1
                    <i class="material-icons right">more_vert</i>
                  </span>
                  <p class="black-text">
                    <a href="#">Klik voor info</a>
                  </p>
                </div>
                <div class="card-reveal">
                  <span class="card-title -text text-darken-4">Inactief 1
                    <i class="material-icons right">close</i>
                  </span>
                  <p class="black-text">Info over kast</p>
                </div>
              </div>
            </div>


          </div>
        </div>

      </div>


    </div>

  </div>
  <div class="col s12 m4 l4">
    <img class="responsive-img" src="assets/fillimg.png">
    <h6>Op de kaart</h6>
    <div class="input-field">
      <select>
        <option value="1" selected>Actieve kasten</option>
        <option value="2">Archief kasten</option>
        <option value="3">Alle kasten</option>
      </select>
      <label>Toon:</label>
    </div>
    <div *ngIf="dataLoaded">
        <app-map [(arcadeMarkers)]="rows" [(currentMode)]="mapMode" ></app-map>
    </div>
  
    <!--<img class="responsive-img" src="assets/kast.png">-->



  </div>
</div>
