<!-- Modal Trigger -->
<!-- Modal Structure -->



<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>{{modalTitle}}</h4>
    <p>{{modalInfo}}</p>
    <div class="row">
      <form class="col s12 l12 ">
        <div class="row">
          <div class="input-field col s12">
            <p><b>Arcade naam</b></p>
            <input [(ngModel)]="arcadeName" [ngModelOptions]="{standalone: true}" id="title" type="text" class="validate">
            <label for="title"></label>
          </div>
          <div class="input-field col s12">
            <p><b>Locatie</b></p>
            <input [(ngModel)]="arcadeLocation" [ngModelOptions]="{standalone: true}" id="location" type="text" class="validate">
            <label for="location"></label>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <p><b>Status</b></p>
            <select [(ngModel)]="arcadeStatus" [ngModelOptions]="{standalone: true}" class="browser-default">
              <option [value]="1">
                Offline
              </option>
              <option [value]="2">
                Online
              </option>
            </select>




          </div>
          <div class="input-field col s6">
            <p><b>Aantal teams</b></p>
            <input [(ngModel)]="arcadeTeamsTot" [ngModelOptions]="{standalone: true}" id="location" type="text" class="validate">
            <label for="location"></label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <p><b>LongLat</b></p>
            <input [(ngModel)]="arcadeLongLat" [ngModelOptions]="{standalone: true}">

          </div>
          <div class="col s6">
            <p><b>Gekoppeld aan actie:</b></p>
            <select [(ngModel)]="arcadeLinkedAction" [ngModelOptions]="{standalone: true}" class="browser-default">
              <option *ngFor="let action of rowsActions" [value]="action.id">
                {{action.actionname}}
              </option>
            </select>




          </div>
        </div>


        <div class="row">
          <div class="input-field col s6">
            <p><b>Begindatum</b></p>
            <input [(ngModel)]="arcadeDatePlaced" [ngModelOptions]="{standalone: true}" id="beginDate" type="date" class="datepicker">

          </div>
          <div class="input-field col s6">
            <p><b>Einddatum</b></p>
            <input [(ngModel)]="arcadeDateEnd" [ngModelOptions]="{standalone: true}" id="endDate" type="date" class="datepicker">

          </div>
        </div>

      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a *ngIf="modalstatus == 1" (click)="addArcade()" class="modal-action modal-close waves-effect waves-green btn-flat ">Maak aan</a>
    <a *ngIf="modalstatus == 2" (click)="saveEditArcade()" class="modal-action modal-close waves-effect waves-green btn-flat ">Sla op</a>

    <div class="left" *ngIf="modalstatus == 2">
      <br>
      <br>
      <a (click)="openTeamModal()" class="btn left waves-effect blue">Bewerk teams</a>
      <br>
      <a (click)="moveToArchive('arcade')" class="btn left waves-effect orange">Verplaats naar Archief</a>
      <br>
      <a (click)="removeArcade()" class="btn left waves-effect red">Verwijder arcade</a>
    </div>

  </div>
</div>



<div id="modal2" class="modal">
  <div class="modal-content">
    <h4>Teams</h4>
    <p>van kast: {{currentArcade}}</p>

    <br>
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <p><b>Team 1:</b> </p>
          <span>Standaard team</span>
          <input [(ngModel)]="team1Name" placeholder="Teamnaam" id="team1" type="text" class="validate">
        </div>
      </div>
    </div>

    <div *ngIf="arcadeTeamsTot > 1" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <p><b>Team 2: </b></p>
          <input [(ngModel)]="team2Name" placeholder="Teamnaam" id="team2" type="text" class="validate">
        </div>
      </div>
    </div>

    <div *ngIf="arcadeTeamsTot > 2" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <p><b>Team 3:</b> </p>
          <input [(ngModel)]="team3Name" placeholder="Teamnaam" id="team3" type="text" class="validate">
        </div>
      </div>
    </div>

    <div *ngIf="arcadeTeamsTot > 3" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <p><b>Team 4:</b> </p>
          <input [(ngModel)]="team4Name" placeholder="Teamnaam" id="team4" type="text" class="validate">
        </div>
      </div>
    </div>

    <div *ngIf="arcadeTeamsTot > 4" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <p><b>Team 5:</b> </p>
          <input [(ngModel)]="team5Name" placeholder="Teamnaam" id="team5" type="text" class="validate">
        </div>
      </div>
    </div>

    <div *ngIf="arcadeTeamsTot > 5" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <p><b>Team 6:</b> </p>
          <input [(ngModel)]="team6Name" placeholder="Teamnaam" id="team6" type="text" class="validate">
        </div>
      </div>
    </div>

    <div *ngIf="arcadeTeamsTot > 6" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <p><b>Team 7:</b> </p>
          <input [(ngModel)]="team7Name" placeholder="Teamnaam" id="team7" type="text" class="validate">
        </div>
      </div>
    </div>

    <div *ngIf="arcadeTeamsTot > 7" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <p><b>Team 8: </b></p>
          <input [(ngModel)]="team8Name" placeholder="Teamnaam" id="team8" type="text" class="validate">
        </div>
      </div>
    </div>

    <div *ngIf="arcadeTeamsTot > 8" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <p><b>Team 9:</b> </p>
          <input [(ngModel)]="team9Name" placeholder="Teamnaam" id="team9" type="text" class="validate">
        </div>
      </div>
    </div>

    <div *ngIf="arcadeTeamsTot > 9" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <p><b>Team 10:</b> </p>
          <input [(ngModel)]="team10Name" placeholder="Teamnaam" id="team10" type="text" class="validate">
        </div>
      </div>
    </div>

    <div *ngIf="arcadeTeamsTot > 10" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <p><b>Team 11: </b></p>
          <input [(ngModel)]="team11Name" placeholder="Teamnaam" id="team11" type="text" class="validate">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Annuleren</a>
      <a (click)="changeTeamNames()" class="modal-action modal-close waves-effect waves-green btn-flat">Opslaan</a>
    </div>
  </div>
</div>




<div id="modal3" class="modal">
  <div class="modal-content">
    <h4>Actie</h4>
    <br>
    <h5>Gekoppelde Arcades:</h5>
    <p>- Komt nog...</p>

    <br>
    <div class="row">
      <div class="input-field col s6">
        <p><b>Actie naam</b></p>
        <input [(ngModel)]="actionName" [ngModelOptions]="{standalone: true}" id="title" type="text" class="validate">
        <label for="title"></label>
      </div>

      <div class="col s6">
        <p><b>Status</b></p>
        <select [(ngModel)]="actionStatus" [ngModelOptions]="{standalone: true}" class="browser-default">
          <option [value]="1">
            Niet actief
          </option>
          <option [value]="2">
            Actief
          </option>
        </select>
      </div>
    </div>


    <div class="row">
      <div class="input-field col s6">
        <p><b>Begindatum</b></p>
        <input [(ngModel)]="actionStart" [ngModelOptions]="{standalone: true}" id="beginDate" type="date" class="datepicker">

      </div>
      <div class="input-field col s6">
        <p><b>Einddatum</b></p>
        <input [(ngModel)]="actionEnd" [ngModelOptions]="{standalone: true}" id="endDate" type="date" class="datepicker">
      </div>
    </div>



    <div class="modal-footer">
        <a *ngIf="modalstatus == 1" (click)="addAction()" class="modal-action modal-close waves-effect waves-green btn-flat ">Maak aan</a>
        <a *ngIf="modalstatus == 2" (click)="editAction()" class="modal-action modal-close waves-effect waves-green btn-flat ">Sla op</a>
    

        <div class="left" *ngIf="modalstatus == 2">
            <br>
            <a (click)="moveToArchive('action')" class="btn left waves-effect orange">Verplaats naar Archief</a>
            <br>
            <a (click)="removeAction()" class="btn left waves-effect red">Verwijder actie</a>
          </div>
      </div>
  </div>
</div>









<div class="section"></div>



<div *ngIf="!loggedin" class="container center">



  <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

    <form class="col s12" method="post">
      <div class='row'>
        <div class='col s12'>
        </div>
      </div>



      <div class='row'>
        <div class='input-field col s12'>
          <input [(ngModel)]="passw" type='password' name='password' id='password' />
          <label for='password'>Wachtwoord</label>
        </div>

      </div>

      <br />

      <div class='row'>
        <button (click)="logIn()" type='submit' name='btn_login' class='center col s12 btn btn-large waves-effect indigo'>Login</button>
      </div>
      <br>
      <br>
      <code>ww: visgoud</code>

    </form>
  </div>
</div>

<div *ngIf="loggedin" class="container-fluid">

  <div class="row">
    <div class="col s12">
      <ul class="tabs tabs-fixed-width">
        <li class="tab col s3 green ">
          <a href="#test1" class="white-text">Arcades</a>
        </li>
        <li class="tab col s3 blue">
          <a href="#test3" class="white-text">Acties</a>
        </li>
        <li class="tab col s3 purple ">
          <a href="#test4" class="white-text">Archief</a>
        </li>

      </ul>
    </div>

    <div id="test1">
      <div class="col s12 m12">
        <div class="card green darken-1">
          <div class="card-content center white-text">
            <i class="large material-icons">place</i>
            <span class="card-title ">Arcades</span>
            <p>Informatie over de arcades en blabla...</p>
          </div>
        </div>
      </div>
      <div class="col s12 m12">
        <ngx-datatable #table class='material striped' [scrollbarH]="true" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
          [rowHeight]="'auto'" [limit]="10" [rows]='rows' (sort)="onSort($event)">

          <ngx-datatable-column name="Aantal" [sortable]="true">

            <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
              <span (click)="sort()" style="cursor:pointer">
                {{column.name}}
              </span>
            </ng-template>

            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              {{row.phonetot}}
            </ng-template>

          </ngx-datatable-column>

          <ngx-datatable-column name="Titel" [sortable]="true">

            <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
              <span (click)="sort()" style="cursor:pointer">
                {{column.name}}
              </span>
            </ng-template>

            <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
              <div [innerHTML]="row['name']"></div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Locatie">

            <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
              <span (click)="sort()" style="cursor:pointer">
                {{column.name}}
              </span>
            </ng-template>

            <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
              {{row.location}}
            </ng-template>

          </ngx-datatable-column>

          <ngx-datatable-column name="Status">

            <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
              <span (click)="sort()" style="cursor:pointer">
                {{column.name}}
              </span>
            </ng-template>

            <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>

              <div *ngIf="row.status == 2" class='white-text' style="background-color: green">Online</div>
              <div *ngIf="row.status == 1" class='white-text' style="background-color: red">Offline</div>
            </ng-template>

          </ngx-datatable-column>

          <ngx-datatable-column name="Begindatum">

            <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
              <span (click)="sort()" style="cursor:pointer">
                {{column.name}}
              </span>
            </ng-template>

            <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
              {{row.dateplaced}}
            </ng-template>

          </ngx-datatable-column>

          <ngx-datatable-column name="Einddatum">

            <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
              <span (click)="sort()" style="cursor:pointer">
                {{column.name}}
              </span>
            </ng-template>

            <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
              {{row.dateend}}
            </ng-template>

          </ngx-datatable-column>







          <ngx-datatable-column name="Foutsignaal" [sortable]="true">

            <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
              <span (click)="sort()" style="cursor:pointer">
                {{column.name}}
              </span>
            </ng-template>

            <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
              {{row.phonefailed}}
            </ng-template>

          </ngx-datatable-column>




          <!-- <ngx-datatable-column name="Teams" [sortable]="true">

            <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
              <span (click)="sort()" style="cursor:pointer">
                {{column.name}}
              </span>
            </ng-template>

            <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
              {{row.teamstot}}
            </ng-template>

          </ngx-datatable-column> -->

          <ngx-datatable-column name="Laatst actief" [sortable]="true">

            <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
              <span (click)="sort()" style="cursor:pointer">
                {{column.name}}
              </span>
            </ng-template>

            <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
              {{row.lastused}}
            </ng-template>

          </ngx-datatable-column>


          <ngx-datatable-column name="Bewerk" [sortable]="true">

            <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
              <span (click)="sort()" style="cursor:pointer">
                {{column.name}}
              </span>
            </ng-template>

            <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
              <a (click)="openEditModal(row.id, row.name)" class="btn-floating btn-large waves-effect waves-light blue">
                <i class="material-icons">edit</i>
              </a>
            </ng-template>

          </ngx-datatable-column>






          <!-- <ngx-datatable-column name="Verwijder">

          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <a (click)="deleteEPSS(row.Code, row.Published)" class="btn-floating waves-effect waves-light red">
              <i class="material-icons">delete</i>
            </a>


          </ng-template>

        </ngx-datatable-column> -->


        </ngx-datatable>
        <br>
        <a (click)="openAddModal()" class="waves-effect waves-light btn">
          <i class="material-icons left">add</i>Voeg kast toe</a>
      </div>


    </div>

    <div id="test3">
      <div class="col s12 m12">
        <div class="card blue darken-1">

          <div class="card-content white-text center">
            <i class="large material-icons">local_play</i>
            <span class="card-title">Acties</span>
            <p>Informatie over blabla</p>

          </div>
        </div>
      </div>
      <div class="col s12 m12">




        <ngx-datatable #table class='material striped' [scrollbarH]="true" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
          [rowHeight]="'auto'" [limit]="10" [rows]='rowsActions' (sort)="onSort($event)">



          <ngx-datatable-column name="Titel" [sortable]="true">

            <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
              <span (click)="sort()" style="cursor:pointer">
                {{column.name}}
              </span>
            </ng-template>

            <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
              <div [innerHTML]="row['actionname']"></div>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Status">

            <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
              <span (click)="sort()" style="cursor:pointer">
                {{column.name}}
              </span>
            </ng-template>

            <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>

              <div *ngIf="row.inuse == 2" class='white-text' style="background-color: green">Online</div>
              <div *ngIf="row.inuse == 1" class='white-text' style="background-color: red">Offline</div>
            </ng-template>

          </ngx-datatable-column>

          <ngx-datatable-column name="Begindatum">

            <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
              <span (click)="sort()" style="cursor:pointer">
                {{column.name}}
              </span>
            </ng-template>

            <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
              {{row.dateplaced}}
            </ng-template>

          </ngx-datatable-column>

          <ngx-datatable-column name="Einddatum">

            <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
              <span (click)="sort()" style="cursor:pointer">
                {{column.name}}
              </span>
            </ng-template>

            <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
              {{row.dateend}}
            </ng-template>

          </ngx-datatable-column>









          <!-- <ngx-datatable-column name="Teams" [sortable]="true">

          <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
            <span (click)="sort()" style="cursor:pointer">
              {{column.name}}
            </span>
          </ng-template>

          <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
            {{row.teamstot}}
          </ng-template>

        </ngx-datatable-column> -->



          <ngx-datatable-column name="Bewerk" [sortable]="true">

            <ng-template let-column="column" ngx-datatable-header-template let-sort="sortFn">
              <span (click)="sort()" style="cursor:pointer">
                {{column.name}}
              </span>
            </ng-template>

            <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template>
              <a (click)="openEditActionModal(row.id, row.actionname)" class="btn-floating btn-large waves-effect waves-light blue">
                <i class="material-icons">edit</i>
              </a>
            </ng-template>

          </ngx-datatable-column>






          <!-- <ngx-datatable-column name="Verwijder">

        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <a (click)="deleteEPSS(row.Code, row.Published)" class="btn-floating waves-effect waves-light red">
            <i class="material-icons">delete</i>
          </a>


        </ng-template>

      </ngx-datatable-column> -->


        </ngx-datatable>




        <br>
        <a (click)="openActionModal()" class="waves-effect waves-light btn">
          <i class="material-icons left">add</i>Voeg actie toe</a>
      </div>

    </div>
    <div id="test4">
      <div class="col s12 m12">
        <div class="card purple darken-1">
          <div class="card-content white-text center">
            <span class="card-title">Archief</span>
            <i class="large material-icons">archive</i>
            <p>Informatie over blabla</p>
          </div>
        </div>
      </div>
      <div class="col s12 m12">


      </div>


    </div>
  </div>
</div>
