<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


body {
    background-color: #80cbc4 !important
}

.tabs {
    overflow-x: hidden !important;
    }


    .ngx-datatable.material.single-selection .datatable-body-row.active, .ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group, .ngx-datatable.material.multi-selection .datatable-body-row.active, .ngx-datatable.material.multi-selection .datatable-body-row.active .datatable-row-group, .ngx-datatable.material.multi-click-selection .datatable-body-row.active, .ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group{
        
            background-color: #fff !important;
            color: #FFF;
    }